<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.practice.CustomerMapper">

	<select id="show" resultType="org.zerock.domain.practice.CustomerDto">
		SELECT 
			CustomerId id,
			CustomerName name,
			Address,
			City,
			Country
		FROM Customers
		LIMIT #{start}, #{end};
	</select>
	
	<insert id="register">
	INSERT INTO 
	Customers(CustomerName, Address, City, Country)
	VALUES
	(#{name}, #{address}, #{city}, #{country})
	
	</insert>
	
	<select id="showCustomer" resultType="org.zerock.domain.practice.CustomerDto">
		SELECT 
			CustomerId id,
			CustomerName name,
			ContactName,
			Address,
			City,
			PostalCode,
			Country
		FROM Customers
		WHERE CustomerId = #{id}
	</select>
	
	<delete id="deleteCustomer">
		DELETE FROM Customers
		WHERE CustomerId= #{id}
	</delete>
	
	<update id="updateCustomer">
		UPDATE Customer
		SET 
			CustomerId = #{id},
			CustomerName = #{name},
			Address = #{address},
			City = #{city},
			PostalCode = #{postalCode},
			Country = #{country}
		WHERE 
			CustomerId = #{id}
	</update>
</mapper>